<article class="cart">
  <div class="cart-user">
    User's Cart
  </div>
  <!-- Need an #each helper here to cover multiple itemtypes in cart -->
  <div class="item-type">
    <div class="item-name">
      Item name here.
    </div>
    <div class="item-description">
      Item description here.
    </div>
    <img src="" alt="Image of item.">
  </div>
  <!-- Want to include quantity later -->
</article>
