<article class="cart">
  <div class="cart-user">
    {{auth.user}}'s Cart
  </div>
  <!-- Need an #each helper here to cover multiple itemtypes in cart -->
  <div>
    {{#each auth.profile.cart.cartitemtypequantities as |item|}}
    <ul>
      <li>
        {{item.itemtype.name}}<br />
        Quantity: {{item.quantity}}
      </li>
    </ul>
    {{/each}}
  </div>
  <!-- Want to include quantity later -->
</article>
