/* Account Page Styling */

.display-none {
  display: none;
}

.line {
  margin-top: -10px;
  margin-bottom: 20px;
}

.fulfilled-text {
  margin-top: -10px; 
  margin-bottom: -10px;
}

.returned-text {
  margin-bottom: -10px;
}
