@import "ember-bootstrap/bootstrap";

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

html,body {
  height: 100%;
}

/* To hide the scroll bar when expanding the bootstrap accordion */
::-webkit-scrollbar {
  display: none;
}