@import "ember-bootstrap/bootstrap";

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

html,body {
  height: 100%;
}

/* To hide the scroll bar when expanding the bootstrap accordion */
::-webkit-scrollbar {
  display: none;
}

// These are custom made global transition classes
:global(.fade-in) {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:global(.slide-in-from-left) {
  -webkit-animation: slideInFromLeft 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromLeft 2s;
  /* Firefox < 16 */
  -ms-animation: slideInFromLeft 2s;
  /* Internet Explorer */
  -o-animation: slideInFromLeft 2s;
  /* Opera < 12.1 */
  animation: slideInFromLeft 2s;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Firefox < 16 */
@-moz-keyframes slideInFromLeft {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideInFromLeft {
  from {
    -webkit-transform: translateX(-25%);
  }

  to {
    -webkit-transform: translateX(0%);
  }
}

/* Internet Explorer */
@-ms-keyframes slideInFromLeft {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Opera < 12.1 */
@-o-keyframes slideInFromLeft {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0%);
  }
}

:global(.slide-in-from-right) {
  -webkit-animation: slideInFromRight 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromRight 2s;
  /* Firefox < 16 */
  -ms-animation: slideInFromRight 2s;
  /* Internet Explorer */
  -o-animation: slideInFromRight 2s;
  /* Opera < 12.1 */
  animation: slideInFromRight 2s;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Firefox < 16 */
@-moz-keyframes slideInFromRight {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideInFromRight {
  from {
    -webkit-transform: translateX(25%);
  }

  to {
    -webkit-transform: translateX(0%);
  }
}

/* Internet Explorer */
@-ms-keyframes slideInFromRight {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Opera < 12.1 */
@-o-keyframes slideInFromRight {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0%);
  }
}

:global(.slide-in-from-top) {
  -webkit-animation: slideInFromTop 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromTop 2s;
  /* Firefox < 16 */
  -ms-animation: slideInFromTop 2s;
  /* Internet Explorer */
  -o-animation: slideInFromTop 2s;
  /* Opera < 12.1 */
  animation: slideInFromTop 2s;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Firefox < 16 */
@-moz-keyframes slideInFromTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideInFromTop {
  from {
    -webkit-transform: translateY(-25%);
  }

  to {
    -webkit-transform: translateY(0%);
  }
}

/* Internet Explorer */
@-ms-keyframes slideInFromTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Opera < 12.1 */
@-o-keyframes slideInFromTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%);
  }
}

:global(.slide-in-from-bottom) {
  -webkit-animation: slideInFromBottom 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromBottom 2s;
  /* Firefox < 16 */
  -ms-animation: slideInFromBottom 2s;
  /* Internet Explorer */
  -o-animation: slideInFromBottom 2s;
  /* Opera < 12.1 */
  animation: slideInFromBottom 2s;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Firefox < 16 */
@-moz-keyframes slideInFromBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideInFromBottom {
  from {
    -webkit-transform: translateY(25%);
  }

  to {
    -webkit-transform: translateY(0%);
  }
}

/* Internet Explorer */
@-ms-keyframes slideInFromBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Opera < 12.1 */
@-o-keyframes slideInFromBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%);
  }
}
