// For skip link
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #303030;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow: auto;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}