/* Homepage Styling */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.banner {
  width: 102vw;
  margin: 0 auto;
  margin-top: -1.5rem;
  margin-left: -1rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.overflow-hidden {
  overflow: hidden;
}

.main-container {
  margin-top: 5vh;
}

.slide-rotate-bottom {
  -webkit-animation: slideRotateBottom 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideRotateBottom 2s;
  /* Firefox < 16 */
  -ms-animation: slideRotateBottom 2s;
  /* Internet Explorer */
  -o-animation: slideRotateBottom 2s;
  /* Opera < 12.1 */
  animation: slideRotateBottom 2s;
}

@keyframes slideRotateBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

/* Firefox < 16 */
@-moz-keyframes slideRotateBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideRotateBottom {
  from {
    -webkit-transform: translateY(25%);
  }

  to {
    -webkit-transform: translateY(0%) rotate(30deg);
  }
}

/* Internet Explorer */
@-ms-keyframes slideRotateBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

/* Opera < 12.1 */
@-o-keyframes slideRotateBottom {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

.slide-rotate-top {
  -webkit-animation: slideRotateTop 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideRotateTop 2s;
  /* Firefox < 16 */
  -ms-animation: slideRotateTop 2s;
  /* Internet Explorer */
  -o-animation: slideRotateTop 2s;
  /* Opera < 12.1 */
  animation: slideRotateTop 2s;
}

@keyframes slideRotateTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

/* Firefox < 16 */
@-moz-keyframes slideRotateTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideRotateTop {
  from {
    -webkit-transform: translateY(-25%);
  }

  to {
    -webkit-transform: translateY(0%) rotate(30deg);
  }
}

/* Internet Explorer */
@-ms-keyframes slideRotateTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

/* Opera < 12.1 */
@-o-keyframes slideRotateTop {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0%) rotate(30deg);
  }
}

