<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
      <div class="jumbotron text-center">
        <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>
      </div>

      {{#list-pagination paginateBy=9 items=this.model as |categories|}}
      <div class="row">
        {{#each categories as |category|}}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            {{#link-to "library.library-items" category}}
            <img alt="image" class="card-img-top" src={{category.image}}>
            <div class="card-body">
              <h4 class="card-title">
                <p>{{category.categoryname}}</p>
              </h4>
              <p class="card-text">{{category.description}}</p>
            </div>
            {{/link-to}}
          </div>
        </div>
        {{/each}}
      </div>
      {{/list-pagination}}

    </div>
  </div>
</div>