/* Manage Index Page Styling */

.nav-bc {
  margin-bottom: -60px;
}

.fulfilled-text {
  margin-top: -10px;
  margin-bottom: -10px;
}

.returned-text {
  margin-bottom: -10px;
}

.warning-bubble {
	position: absolute;
	top: 5px;
	right: 10px;
}