/* Validated Input Field Styling */

.valid-input {
  position: absolute;
  right: 15px;
  top: 11px;
  // font-size: 12px;
  color: #646262;
}


.input-validation-style {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.prepend-center {
  text-align: center;
}

.prepend-text {
  width: 110px;
  display: table;
  margin: 0 auto;
}
