{{outlet}}
<center><img src="/static/ember/assets/uno_logo.png" alt="UNO logo" width="20%" style="padding-bottom: 10px;"></center>
<br>The Lending Library App is a search-oriented library management app for maintaining the UNO lending library.<br>

<br>This program is free software. You can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.<br>

<br>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.<br>

<br>You should have received a copy of the <a href="http://www.gnu.org/licenses/">GNU General Public License </a> along with this program.
<br>
<br>Copyright &copy; 2018 Matt Hale.<br>
