<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">{{fa-icon "book"}} Lending Library </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to "about"}}<a class="nav-link">About</a>{{/link-to}}
      </li>

      <li class="nav-item">
        {{#link-to "library"}}<a class="nav-link">Library</a>{{/link-to}}
      </li>

      {{!-- <li class="nav-item">
        {{#link-to "cart"}}<a class="nav-link">Cart</a>{{/link-to}}
      </li>

      <li class="nav-item">
        {{#link-to "checkout"}}<a class="nav-link">Check Out</a>{{/link-to}}
      </li> --}}

      <li class="nav-item">
        {{#link-to "login"}}<a class="nav-link">Login</a>{{/link-to}}
      </li>
    </ul>
    
    <span class="navbar-text">
      {{!-- {{#bs-popover triggerEvents="hover" title="What's in my cart?" placement="bottom"}}1. Raspberry Pi <br>2. Little Bits part<br>3. Other little Bits Part<br><br><button class="btn btn-primary">{{#link-to "cart"}}Go to cart{{/link-to}}</button>{{/bs-popover}} --}}
            
      {{#link-to "cart"}}<a class="navbar-link">{{fa-icon "shopping-cart"}} Cart</a>{{/link-to}}
    </span>

  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>
