<!--
@Author: Matthew Hale <matthale>
@Date:   2018-03-01T16:19:15-06:00
@Email:  mlhale@unomaha.edu
@Filename: application.hbs
@Last modified by:   matthale
@Last modified time: 2018-03-01T17:13:48-06:00
@Copyright: Copyright (C) 2018 Matthew L. Hale
-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">{{fa-icon "book"}} Lending Library </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/library">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/checkout">Check Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{outlet}}
        </div>
      </div>
    </div>

  <div class="footer layout-row layout-align-space-between-end">
    <div class="left-footer">
      <p class="credit">
        © 2018 <a href="https://www.unomaha.edu" target="_blank" style="color: inherit;">Lending Library</a>, created by <a href="http://faculty.ist.unomaha.edu/mhale/" target="_blank" style="color: inherit;">Dr. Matthew L. Hale</a> with help from <a href="https://github.com/MLHale/CYBR8470/" target="_blank" style="color: inherit;">CYBR 8470 Students</a>
      </p>
    </div>
    <div class="center-footer">
    </div>
  </div>
</div>
