{{outlet}}
<div class="jumbotron text-center">
  <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>
  <p>This is the cart page.<br></p>
</div>
<div>
  <CartView />
</div>
