{{outlet}}
<div class="jumbotron text-center">
  <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>



  <p>This is the Checkout page.<br></p>
</div>
{{models-table
          data=model
          columns=columns
          delete='deleteRecord'}}
  columns: [
  {
    "propertyName": "id",
    "title": "ID"
  },
  {
    "propertyName": "firstname",
    "title": "First Name"
  },
  {
    "propertyName": "lastname",
    "title": "Last Name"
  },
  {
    "propertyName": "address",
    "title": "Address"
  },
  {
    "propertyName": "phonenumber",
    "title": "Phone Number"
  }
  {
    "propertyName": "numberofstudents",
    "title": "Number of Students"
  },
  {
    "propertyName": "createdon",
    "title": "Creation Date"
  },
  {
    "propertyName": "fulfilledon",
    "title": "Fulfilled"
  },
  {
    "propertyName": "returnedon",
    "title": "Returned"
  },
  {
    "propertyName": "missingparts",
    "title": "Missing Parts"
  }
]
