<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>Dashboard<br></h1>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h4 class="card-title">Fulfill Orders</h4>
                            <p class="card-text">{{pendingOrders.length}} pending orders</p>
                            {{#link-to "fulfill"}}
                                <a class="btn btn-primary" style="color: white;">Fulfill Orders</a>
                            {{/link-to}}
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h4 class="card-title">Manage Orders</h4>
                            <p class="card-text">{{this.model.checkouts.length}} total orders</p>
                            {{#link-to "manage"}}
                                <a class="btn btn-primary" style="color: white;">Manage Orders</a>
                            {{/link-to}}
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h4 class="card-title">Return Orders</h4>
                            <p class="card-text">__ orders due today</p>
                            {{#link-to "return"}}
                                <a class="btn btn-primary" style="color: white;">Return Orders</a>
                            {{/link-to}}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
