<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
            <div class="jumbotron text-center">
                <h1>Dashboard</h1>

                {{!-- <nav aria-label="breadcrumb" style="margin-bottom: -60px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav> --}}
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h4 class="card-title">Fulfill Orders</h4>
                            <p class="card-text">{{pendingOrders.length}} pending orders</p>
                            {{#link-to "fulfill"}}
                                <a class="btn btn-primary text-white">Fulfill Orders</a>
                            {{/link-to}}
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h4 class="card-title">Manage Orders</h4>
                            <p class="card-text">{{this.model.checkouts.length}} total orders</p>
                            {{#link-to "manage"}}
                                <a class="btn btn-primary text-white">Manage Orders</a>
                            {{/link-to}}
                            
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center h-100">
                        <div class="card-body">
                            <h4 class="card-title">Return Orders</h4>
                            <p class="card-text">{{returnOrders.length}} orders to be returned</p>
                            {{#link-to "return"}}
                                <a class="btn btn-primary text-white">Return Orders</a>
                            {{/link-to}}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
