<div class="jumbotron text-center">
  <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>



  <p>Please feel free to browse the Lending Library and enter the mailing list to stay up to date about amazing Cyber Security Projects.<br></p>

  <div class="form-horizontal form-group form-group-lg row">
    <div
      class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2"
    >
      <input
        type="email"
        class="form-control"
        placeholder="Please type your e-mail address."
        autofocus="autofocus"/
      >
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
      <button class="btn btn-primary btn-lg btn-block">Enter Mailing List</button>
    </div>
  </div>
</div>
