{{outlet}}
<div class="jumbotron text-center">
  <h1>Welcome to the University of Nebraska at Omaha Technology Lending Library<br></h1>
</div>

<div class="row">
  {{#each this.model as |item|}}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img alt="image" class="card-img-top" src="/static/ember/assets/rpi3b.jpg" ></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ItemType.name}}</a>
          </h4>
          <p class="card-text">{{ItemType.description}}</p>
          <a href="#" class="btn btn-primary">Add to the cart</a>
          <input class="form-control form-control-sm" type="text" placeholder="Quantity">
        </div>
      </div>
    </div>
  {{/each}}
</div>
