/* Manage Index Page Styling */

.nav-bc {
  margin-bottom: -60px;
}

.fulfilled-text {
  margin-top: -10px;
  margin-bottom: -10px;
}

.returned-text {
  margin-bottom: -10px;
}

.center-message {
  margin-top: 10vh;
}
