/* MAnage Order Page Styling */

.nav-bc {
  margin-bottom: -60px;
}

.quantity-select {
  text-align-last: center;
}

.fulfilled-text {
  margin-top: -10px;
  margin-bottom: -10px;
}

.returned-text {
  margin-bottom: -30px;
}
